{% extends 'webapp/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "webapp/css/simple-sidebar.css" %}">
<link rel="stylesheet" href="{% static "webapp/css/hamburguer.css" %}">

<script src="{% static "webapp/js/index.js" %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-light bg-light border-bottom">
            <div class="d-table navbar-header">
                <div class="d-table-cell align-middle hamburguer-container" id="menu-toggle">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

                <div class="d-table-cell h1 px-4">CashTrack</div>
            </div>
        </nav>

        <div class="container">

            <div class="card w-50 mt-4 mb-4 mx-auto">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">New Record</h5>

                    <div class="btn-group form-group mx-auto" role="group">
                        <button type="button" class="btn btn-light shadowless active" id="expenseBtn">Expense</button>
                        <button type="button" class="btn btn-light shadowless" id="incomeBtn">Income</button>
                    </div>

                    <form id="recordForm" action="{% url 'webapp:records' %}" method="post">
                        {% csrf_token %}
                        <input id="recordType" type="hidden" name="recordType" value="Expense">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <input type="number" class="form-control" name="ammount" placeholder="Ammount">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="category" placeholder="Category">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <input type="datetime-local" class="form-control" name="datetime">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="entity" placeholder="Store or person's name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mx-auto">
                            <textarea type="text" class="form-control" rows="2" name="note" placeholder="Note"></textarea>
                        </div>

                        <input type="submit" class="btn btn-primary float-right" value="Create">
                    </form>

                </div>
            </div>

            <div id="recordCards" class="card-columns">
                {% for record in latest_records_list %}
                    {% include "webapp/record.html" %}
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
{% endblock %}